@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b8wrkm');
  src:  url('fonts/icomoon.eot?b8wrkm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b8wrkm') format('truetype'),
    url('fonts/icomoon.woff?b8wrkm') format('woff'),
    url('fonts/icomoon.svg?b8wrkm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e900";
  color: #ed8a19;
}
.icon-star-oragne:before {
  content: "\e901";
  color: #ed8a19;
}
.icon-behance:before {
  content: "\e902";
  color: #32505b;
}
.icon-facebook:before {
  content: "\e903";
  color: #32505b;
}
.icon-instagram:before {
  content: "\e904";
  color: #32505b;
}
.icon-twitter:before {
  content: "\e905";
  color: #32505b;
}
